body{
    background-color: #F5D7A7;
}

.para_image{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #53687E;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 0;
}

.name_heading {
    text-align: center;
    background-color: #92d1c3;
    color: #070600;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0.02%;
    margin-top: 0;
    padding-top: 1%;
    font-size: xx-large;
}

#first_line {
    margin-bottom: 0;
    margin-top: 5000;
}

#name {
    margin-top: 0;
}

.textbox{
    color: aliceblue;
    padding-left: 8%;
    font-size:xx-large;
}

img{
    padding-right: 8%;
    max-width: 450px ;
}

.experience_contact{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #9E2B25;
    margin-top: 0;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 5%;
    color: aliceblue;
}

#experience_contact_heading{
    font-size:235%;
}

#experience_contact_body{
    font-size: x-large;
}

a {
    color: #76bed0;
}
